*{
    font-family: 'Montserrat';
    text-decoration: none;
}

body{
    width: 100vw;
    height: 100vh;
    display: inline-grid;
    grid-template-columns: 1fr 5fr;
}

.left-panel{
    display: grid;
    grid-template-rows: 0fr 0.5fr 0.3fr ;
    background-color: #1A92D3;
    gap: 30px;
}

.left-panel> *{
    margin-left: 10px;
    font-size: 20px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-decoration: none;
    font-weight: bold;
}

.Dashboard-Text{
    font-size: 30px;
    margin-bottom: 10px;
    color: white;
}

.links{
    text-decoration: none;
    color: white;
    height: min-content;
    width: min-content;
}

.first-set-links{
    display: inline-grid;
    grid-template-rows: 0.3fr 0.3fr 0.3fr 0.3fr 0.3fr 0.3fr;
}

.second-set-links{
    display: inline-grid;
    grid-template-rows: 0.3fr 0.3fr 0.3fr;
}

.right-side{
    background-color: #E2E8F0;
    display: inline-grid;
    grid-template-rows: 2.5fr 10fr;
}

header{
    display: inline-grid;
    background-color: white;
    grid-template-rows: 4fr 5fr;
    box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.219);
}

.header-top{
    display: inline-grid;
    grid-template-columns: 0.04fr 0.65fr 0.05fr  0.06fr 0.15fr;
    align-items: center;
    margin-left: 3vw;
}


.header-top>svg{
    height: 3.4vh;
}

.search-bar{
    background-color: #E2E8F0;
    height: 3.8vh;
    width: 45vw;
    border-radius: 16px;
    border: none;
}


.top-round-image>img{
    height: 50px;
    width: 50px;
    border-radius: 100%;
}

.header-top>p{
    font-weight:bolder;
    font-size: 20px;
}

.header-bottom{
    display: inline-grid;
    align-items: center;
    grid-template-columns:0.3fr 1.3fr 0.3fr 0.3fr 0.4fr;
    margin-left: 3vw;
}

.bottom-round-image>img{
    height: 70px;
    width: 70px;
    border-radius: 100%;
}

.header-a{
    display: grid;
    place-items: center;
    width: 8vw;
    height: 5vh;
    border-radius: 20px;
    border: none;
    background-color: plum;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
    color: white;
}