*{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-decoration: none;
}

body{
    width: 100vw;
    height: 100vh;
    display: inline-grid;
    grid-template-columns: 1fr 5fr;
}

.left-panel{
    display: grid;
    grid-template-rows: 0fr 0.2fr 0.2fr ;
    background-color: #4F4789;
    gap: 30px;
}

.left-panel> *{
    margin-left: 10px;
    font-size: 20px;
    text-decoration: none;
    font-weight: bold;
}

.Dashboard-Text{
    font-size: 30px;
    margin-bottom: 10px;
    color: white;
}

.links{
    text-decoration: none;
    color: white;
    height: min-content;
    width: min-content;
    display: flex;
    align-items: center;
    gap: 10px;
}

.first-set-links{
    display: inline-grid;
    grid-template-rows: 0.3fr 0.3fr 0.3fr 0.3fr 0.3fr 0.3fr;
    height: 40vh;
}

.first-set-links svg, .second-set-links svg, .left-panel svg{
    width: 2vw;
    fill: white;
}

.second-set-links{
    display: inline-grid;
    grid-template-rows: 0.3fr 0.3fr 0.3fr;
    height: 20vh;
}

.right-side{
    background-color: #E2E8F0;
    display: inline-grid;
    grid-template-rows: 2.5fr 10fr;
}

header{
    font-family: Montserrat ;
    display: inline-grid;
    background-color: white;
    grid-template-rows: 4fr 5fr;
    box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.219);
}

.header-top{
    display: inline-grid;
    grid-template-columns: 0.04fr 0.65fr 0.05fr  0.06fr 0.15fr;
    align-items: center;
    margin-left: 3vw;
}


.header-top>svg{
    height: 3.4vh;
}

.search-bar{
    background-color: #E2E8F0;
    height: 3.8vh;
    width: 45vw;
    border-radius: 16px;
    border: none;
}


.top-round-image>img{
    height: 50px;
    width: 50px;
    border-radius: 100%;
}

.header-top>p{
    font-weight:bolder;
    font-size: 20px;
}

.header-bottom{
    display: inline-grid;
    align-items: center;
    grid-template-columns:0.2fr 1.3fr 0.3fr 0.3fr 0.4fr;
    margin-left: 3vw;
}

.bottom-round-image>img{
    height: 70px;
    width: 70px;
    border-radius: 100%;
}

.header-a{
    display: grid;
    place-items: center;
    width: 8vw;
    height: 5vh;
    border-radius: 20px;
    border: none;
    background-color: plum;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
    color: white;
}

.panel-board{
    display: grid;
    grid-template-columns: 3fr 1.3fr;
    gap: 0.5vw;
    margin-left: 1vw;
    margin-top: 1vw;
    margin-bottom: 8vh;
}

.left-panels{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1.5vw;
}

.left-panels>p{
    margin-bottom: -15px;
}

.left-tabs{
    display: grid;
    overflow: hidden;
    grid-template-rows: 1.4fr 2fr 2fr;
    width: 25vw;
    height: 26vh;
    background-color: white;
    border-radius: 8px;
    box-shadow: inset 0.5em 0em #F0B42A , 0px 3px 8px rgba(0, 0, 0, 0.219);
}

.first-right-tab, .second-right-tab{
    width: 20vw;
    height: 40vh;
    background-color: white;
    border-radius: 10px;
}

.left-tabs>p{
    margin-left: 2vw;
    margin-top: 2vw;
}

.left-tabs>p:first-child{
    color: black;
    font-weight: bold;
    font-size: 16px;
    align-self: flex-end;
    margin-bottom: 4px;
}

.left-tabs>p{
    font-size: 14px;
    color: #636363;
    align-self: flex-start;
    margin-top: 0px;
}

.left-tabs>div>a>svg{
    height: 3vh;
    width: 2vw;
}

.left-tabs>div{
    display: flex;
    gap: 15px;
    margin-left: 15vw;
    align-self: center;
}

.first-right-tab{
    display: grid;
    justify-content: space-around;
    align-items: center;
    box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.219);
}

.first-right-tab>div{
    width: 15vw;
    border-bottom: solid 1px #6363634f;
}

.first-right-tab>div:last-child{
    border-bottom: none;
}

.first-right-tab>div>p:first-child{
    font-size: 13px;
    font-weight: bold;
    margin-bottom: 5px;
}

.first-right-tab>div>p:last-child{
    font-size: 11px;
    color: #636363;
    margin-top: 0px;
}

.second-right-tab{
    display: grid;
    align-items: center;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.219);
}

.second-right-tab>a{
    display: flex;
    gap: 10px;
    margin-left: 15px;
    width: fit-content;
    height: fit-content;
}

.second-right-tab>a>svg{
    width: 6vh;
}

.second-right-tab>div{
    display: flex;
    align-items: center;
    justify-content: center;
}

.second-right-tab>a>div>p{
    margin-bottom: 0px;
    font-size: 13px;
    color: black;
}

.second-right-tab>a>div>p:last-child{
    margin-top: 0px;
    color: #636363;
    font-size: 11px;
}